
.menu a{display: none; font-size: 12px}

body{
  margin: 0; text-align: center;
  font-family: sans-serif; color:#6A8518;
}
img {vertical-align: middle; }

@media(min-width:730px){
  ul{
    margin-right: 100px;
  }
  .menu a{display: block; font-size: 13px}
  .menu li{ float: left; }
  #btn{display: none;}
}
@media(max-width:729){
  #btn{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 13px;
    display: inline;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: static;
  }
  .menu li{ background-color: rgba(255, 255, 255, 0.5); }
}
#logo{
  margin-left: 50px; margin-top: 0; float: left;
}
header{
  height: 90px; background-color: white; border-bottom: 1px solid;
  position: fixed; width: 100%; z-index: 9999; top:0; left:0;
}
footer{
  height: 270px; background-color: black; z-index: 9999;
}
.wrapper{width:100%; margin: 0 auto;}
.menu li{ line-height: 55px; padding:0 40px; }
.menu{ float: right;}
a{
  text-decoration: none; color:#6A8518;
}
td{
  width:33%
}

h2{
  font-size: 40px;
}
h3{
  font-size: 25px;
}
#txt{
  font-weight: bold;
  font-size:20px;
}
#data{
  display: inline;
  font-weight: bold;
  background-color: #6A8518;
  font-size: 13px;
  color: white;
}
